<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

    <div class="row">
      <div class="py-5 text-center col-md-12">
        <img class="d-block mx-auto mb-4" src="https://token.bndes.gov.br/assets/img/logo-bndescoin.png" alt="" width="72" height="72">
        <h2>BNDESToken Desktop App</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"> </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success btn-lg btn-block" (click)="getBlockchainAccounts()">
            Contas Blockchain
        </button>
      </div>
      <div class="col-md-5"> </div>
    </div>  
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 form-group">
        oi <input name="resultado" (ngModel)="resultado" value="veja o console" />
             t+
      </div>
      <div class="col-md-4"> </div>
    </div>      
